---
layout: case
title: Case
permalink: /case/
---

<div class="container mtb">
    <div class="row">


        <!-- <div class="col-lg-12">

            {% for post in site.categories['project'] %}

                {% if post.img %}
                <a href="{{ post.url | prepend: site.url }}">
                    <img class="img-responsive" src="{{ "/assets/img/project/" | prepend: site.url }}{{ post.img }}">
                </a>
                {% endif %}    
                <a href="{{ post.url | prepend: site.url }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.url }}">[更多]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div>
 -->
        <div class="text" style="text-align:center;">
            <h3><font>主要案例</font></h3>
            <div class="hline"></div>
        </div>
        <img src="http://www.jg-zl.com/assets/img/case.jpg">
        <br>
        {% for post in site.categories['project'] %}
        <div class="col-lg-4">

            {% if post.img %}
            <a href="{{ post.url | prepend: site.url }}">
                <img class="img-responsive" src="{{ "/assets/img/project/" | prepend: site.url }}{{ post.img }}">
            </a>
            {% endif %}    
            <a href="{{ post.url | prepend: site.url }}"><h6 class="ctitle">{{ post.title }}</h6></a>
            <!-- <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p> -->
            <!-- {{ post.excerpt }} -->
            <!-- <p><a href="{{ post.url | prepend: site.url }}">[更多]</a></p> -->
            <div class="hline"></div>

            <div class="spacing"></div>
        </div>
        {% endfor %}


    </div>
</div>