---
layout: company
title: Company
permalink: /company/
---


<div class="container">
	<br><br><br>
<div class="one columns"><br></div>
				<div class="five columns">
					<h3>新闻中心</h3>
			          <ul class="categories">
			            <li><a href="/company/">公司新闻</a></li>
			            <li><a href="/news/">行业资讯</a></li>
			          </ul>

			    </div>
				<div class="two columns"><br></div>
				<div class="thirteen columns sidebar">
				<ul id="pag-itemContainer">
				{% assign counter = 0 %}
					{% for post in site.tags['company'] %}
					{% assign counter = counter | plus: 1 %}
					<li>
					<div class="post-preview preview-medium">
						<h2><a href="{{ post.url | prepend: site.url }}" class="dark-link">{{ post.title }}</a></h2>
						<div class="post-meta">
							By <span class="meta-author"><a href="#">{{ post.author }}</a></span>
							<span class="meta-date">on {{ post.date | date: "%-d %b %Y" }}</span>
						</div>
						{% if post.img %}
						<a href="{{ post.url | prepend: site.url }}"  class="work-image">
			                <img src="/images/news/{{ post.img }}" alt="{{ post.title }}">
			                <div class="link-overlay fa fa-chevron-right">
			                </div>
            			</a>
   						{% endif %}
						<div class="eleven columns omega">
							<p>
								{{ post.content | strip_html | truncate:100 }}
							</p>
							<a class="btn colored" href="{{ post.url | prepend: site.url }}">更多<i class="fa fa-chevron-circle-right" style="margin: 0 0 0 7px;"></i></a>
						</div>
        				<div class="clearfix"></div>
					</div>
					</li>
    				{% endfor %}
    			</ul>

    			{% if counter > 5 %}
    			<div class="pag-holder pagination"></div>
    			{% endif %}
    			{% if counter == 0 %}
    			<p>非常抱歉，没有文章！</p>
    			{% endif %}

				</div>
				
   				<div class="clearfix"></div>
				
</div>