---
layout: index
title: Home
permalink: /
---

<!-- <div id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row centered">
                <i class="fa fa-heart-o"></i>
                <h4>产品特点</h4>
                </div>
                <ol>
                <li>高效省电，节电达12%-40%</li>
                <li>低碳环保，不破坏臭氧层，无温室效应</li>
                <li>兼容性好，与常用冷冻润滑油兼容</li>
                <li>用途广泛，可以替代R12 ，R22，R134a，R404a ，R502等常用制冷剂</li>
                </ol>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <div class="row centered">
                <i class="fa fa-flask"></i>
                <h4>产品优势</h4>
                </div>
                <ol>
                <li>用量少，是R22用量的50%以下</li>
                <li>工作压力低，低于使用R22时系统压力的15%</li>
                <li>制冷效果好，在达到和R22相同制冷效果时间更短，节省电量</li>
                <li>使用方便，更换制冷剂无需进行改装，无需更换冷冻油</li>
                </ol>

                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <div class="row centered">
                <i class="fa fa-trophy"></i>
                <h4>产品前景</h4>
                </div>
                <ol>
                <li>伴随全球变暖问题，R290作为新型环保制冷剂有非常好的市场前景</li>
                <li>我国支持R290的使用政策以及多条生产线的实践与趋势</li>
                </ol>

                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div>
</div> -->

<!-- {% include portfolio.html title="产品介绍" limit=10 %} -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4">
            <h4>新闻中心</h4>
            <div class="hline"></div>
            {% for post in site.tags['news_center'] limit:3 %} 
                <p><a href="{{ post.url | prepend: site.url }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>
        <div class="col-lg-4">
            <h4>产品介绍</h4>
            <div class="hline"></div>
            {% for post in site.tags['our_prod'] limit:3 %} 
                <p><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-4">
            <h4>最新案例</h4>
            <div class="hline"></div>
            {% for post in site.categories['project'] limit:3 %} 
                <p><a href="{{ post.url | prepend: site.url }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div>
</div>


