<header class="header">
<div class="container">
<div class="five columns">
<!-- <h1 class="logo"></h1>
 --><a href="/"><img src="{{"images/logo.png"  | prepend: site.url}}" alt="金冠制冷" height="60" width="1100" /></a>
</div>

<div class="ten columns m-right">
<nav class="main_menu">

<ul>
<!-- <li class="current_page_item"> -->
<li>
<a href="/">
首页
<!-- <div class="sub">
Get Started
</div>
 --></a>
<!-- <ul>
<li><a href="index.html">Home Version 1</a></li>
<li><a href="index-2.html">Home Version 2</a></li>
<li><a href="index-3.html">Home Version 3</a></li>
<li><a href="index-4.html">Home Version 4</a></li>
<li><a href="index-5.html">Home Version 5</a></li>
<li><a href="index-6.html">Home Version 6</a></li><li><a href="http://www.mobantu.com">More</a></li>
</ul>
 --></li>

<li>
<a href="/about/">
关于我们
<!-- <div class="sub">
Page Formats
</div>
 --></a>
<!-- <ul>
<li><a href="about-us.html">About Us</a></li>
<li><a href="about-us-2.html">About Us 2</a></li>
<li><a href="about-me.html">About Me</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="services-2.html">Services 2</a></li>
<li><a href="meet-the-team.html">Meet The Team</a></li>
<li><a href="meet-the-team-2.html">Meet The Team 2</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="full-width-page.html">Full Width Page</a></li>
<li><a href="page-right-sidebar.html">Right Sidebar</a></li>
<li><a href="page-left-sidebar.html">Left Sidebar</a></li>
<li><a href="404-error-page.html">404 Error Page</a></li>
</ul> -->
</li>

<li>
<a href="#">
新闻中心
<!-- <div class="sub">
Useful Shortcodes
</div>
 --></a>
<ul>
<li><a href="tabs.html">公司新闻</a></li>
<li><a href="buttons.html">行业资讯</a></li>
</ul>
</li>

<li>
<a href="portfolio-2-columns.html">
产品介绍
<!-- <div class="sub">
Awesome Stuff
</div>
 --></a>
<ul>
<li><a href="/development/">制冷剂的发展</a></li>
<li><a href="/product/">我们的产品</a></li>
</ul>
</li>

<li>
<a href="/case/">
主要案例
<!-- <div class="sub">
News & Events
</div>
 --></a>
<!-- <ul>
<li><a href="blog-large.html">Large Image</a></li>
<li><a href="blog-medium.html">Medium Image</a></li>
<li><a href="blog-post.html">Single Post</a></li>
</ul>
 --></li>

<li>
<a href="/contact/">
联系我们
<!-- <div class="sub">
Write Message
</div>
 --></a>
</li>
</ul>

</nav><!-- navigation -->
</div>
<div class="clearfix"></div>
</div>
</header><!-- header -->
