<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>江苏金冠制冷有限公司</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{"css/style.css" | prepend: site.url}}">
	<link rel="stylesheet" type="text/css" href="{{"css/settings.css"  | prepend: site.url}}" media="screen"/>


    <!-- JS
  ================================================== -->
</div>
    <script src="{{"js/jquery-1.8.2.min.js"  | prepend: site.url}}" type="text/javascript"></script> <!-- jQuery -->
	<script src="{{"js/jquery.easing.1.3.js" | prepend: site.url}}" type="text/javascript"></script> <!-- jQuery easing -->
	<script src="{{"js/modernizr.custom.js" | prepend: site.url}}" type="text/javascript"></script> <!-- Modernizr -->
    <script src="{{"js/jquery-ui-1.10.1.custom.min.js" | prepend: site.url}}" type="text/javascript"></script> <!-- tabs, toggles, accordion -->
    <script src="{{"js/custom.js" | prepend: site.url}}" type="text/javascript"></script> <!-- jQuery initialization -->
  
    <!-- Responsive Menu -->
    <script src="{{"js/jquery.meanmenu.js" | prepend: site.url}}"></script> 

    <script>
    jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
    });
    </script>
	
	<!-- Revolution Slider -->
	<script src="{{"js/jquery.themepunch.plugins.min.js" | prepend: site.url}}"></script>
	<script src="{{"js/jquery.themepunch.revolution.min.js" | prepend: site.url}}"></script>
	<script src="{{"js/revolution-slider-options.js" | prepend: site.url}}"></script>
	
	<!-- Prety photo -->
	<script src="{{"js/jquery.prettyPhoto.js" | prepend: site.url}}"></script>
	<script>
		$(document).ready(function(){
			$("a[data-gal^='prettyPhoto']").prettyPhoto();
		});
	</script>

	<!-- Tooltip -->
    <!-- <script src="{{"js/tooltip.js" | prepend: site.url}}"></script> -->
	
	<!-- Flexisel -->
    <script type="text/javascript" src="{{"js/jquery.flexisel.js" | prepend: site.url}}"></script>

	<!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">
	<!-- <link rel="shortcut icon" href="{{"images/favicon.ico" | prepend: site.url}}">
	<link rel="apple-touch-icon" href="{{"images/apple-touch-icon.png" | prepend: site.url}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{"images/apple-touch-icon-72x72.png" | prepend: site.url}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{"images/apple-touch-icon-114x114.png" | prepend: site.url}}"> -->
	<script src="{{"js/jPages.js" | prepend: site.url}}"></script>
	<script src="{{"js/js.js" | prepend: site.url}}"></script>
  <script type="text/javascript">
    /* when document is ready */
      $(function(){
        /* initiate the plugin */
        $("div.pag-holder").jPages({
            containerID  : "pag-itemContainer",
            perPage      : 5,
            startPage    : 1,
            startRange   : 1,
            midRange     : 5,
            endRange     : 1
        });
    });
  </script>


</head>