---
layout: default
---
<div class="container">
	<br>
    <br>
    <br>
    <div class="row">

<div class="eleven columns">
  {% if page.img %}
	<img style="margin-bottom:20px;" src="/images/blog/{{ page.img }}" alt="金冠制冷" />
  {% endif %}
	<a href="{{ page.url | prepend: site.url }}"><h3 class="ctitle">{{ page.title }}</h3></a>
    <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>

    {{ content}}	
	
</div>
<div class="four columns sidebar">
          <h3>产品介绍</h3>
          <ul class="categories">
            <li><a href="/company/">公司新闻</a></li>
            <li><a href="/industry/">行业资讯</a></li>
          </ul>
        </div>
                <div class="clearfix"></div>
</div>
</div>