---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>案例细节</h4>
            <div class="hline"></div>
            <p><b>时间:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>相关人员:</b> {{ page.author }}</p>
            <p><b>服务行业:</b> {{ page.tagged }}</p>
            <p><b>客户:</b> {{ page.client }}</p>
            <p><b>相关网站:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div>
</div>

<br>
<br>